body {
  background: #db7821;
}

.haiku {
  font-family: Times New Roman;
  cursor: default;
  font-style: italic;
  font-size: 65px;
  text-align: right;
  text-shadow: 2px 2px black;
  line-height: 45px;
  margin-right: 30px;
  color: white;
}

a {
  font-size: 25px;
  color: blue;
  font-family: Courier;
  text-align: left;
}

#cobble {
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 9s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  50% {
    left: 90%;
  }
  100% {
    left: 0;
    transform: rotate(360deg);
  }
}

span {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

span:hover {
  top: -15px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

footer {
  position: absolute;
  font-family: "Brush Script MT", cursive;
  color: white;
  bottom: 0;
  height: 10x;
  margin-bottom: 4px;
}
